{% extends '../base.html' %}

{% block title %}Fiskali kasa - Neuspješna aktivacija{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line margin-top">Neuspješna aktivacija</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        Došlo je do pogreške prilikom aktivacije. U slučaju daljnih pogreški kontaktirajte nas.<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
{% endblock %}
