{% extends '../base.html' %}

{% load widget_tweaks %}

{% block title %}Fiskali kasa - Registracija{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line margin-top">Registracija</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <h4>Podaci o zaposleniku</h4>
                        {{ zaposlenikForm.errors }}
                        <label>{{ zaposlenikForm.username.label }}:</label>
                        {{ zaposlenikForm.username|add_class:"form-control" }}
                        {{ zaposlenikForm.username.errors }}
                        <label>{{ zaposlenikForm.first_name.label }}:</label>
                        {{ zaposlenikForm.first_name|add_class:"form-control" }}
                        {{ zaposlenikForm.first_name.errors }}
                        <label>{{ zaposlenikForm.last_name.label }}:</label>
                        {{ zaposlenikForm.last_name|add_class:"form-control" }}
                        {{ zaposlenikForm.last_name.errors }}
                        <label>{{ zaposlenikForm.email.label }}:</label>
                        {{ zaposlenikForm.email|add_class:"form-control" }}
                        {{ zaposlenikForm.email.errors }}
                        <label>{{ zaposlenikForm.oib.label }}:</label>
                        {{ zaposlenikForm.oib|add_class:"form-control" }}
                        {{ zaposlenikForm.oib.errors }}
                        <label>{{ zaposlenikForm.password1.label }}:</label>
                        {{ zaposlenikForm.password1|add_class:"form-control" }}
                        {{ zaposlenikForm.password1.errors }}
                        <label>{{ zaposlenikForm.password2.label }}:</label>
                        {{ zaposlenikForm.password2|add_class:"form-control" }}
                        {{ zaposlenikForm.password2.errors }}
                        {{ zaposlenikForm.non_field_errors }}
                        <hr />
                        <h4>Podaci o tvrtki</h4>
                        {{ tvrtkaForm.errors }}
                        <label>{{ tvrtkaForm.naziv.label }}:</label>
                        {{ tvrtkaForm.naziv|add_class:"form-control" }}
                        {{ tvrtkaForm.naziv.errors }}
                        <label>{{ tvrtkaForm.mjesto.label }}:</label>
                        {{ tvrtkaForm.mjesto|add_class:"form-control" }}
                        {{ tvrtkaForm.mjesto.errors }}
                        <label>{{ tvrtkaForm.adresa.label }}:</label>
                        {{ tvrtkaForm.adresa|add_class:"form-control" }}
                        {{ tvrtkaForm.adresa.errors }}
                        <label>{{ tvrtkaForm.oib.label }}:</label>
                        {{ tvrtkaForm.oib|add_class:"form-control" }}
                        {{ tvrtkaForm.oib.errors }}
                        {{ tvrtkaForm.non_field_errors }}
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="prijava-registracija btn btn-info" type="submit" value="Registriraj se">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info">
                        Fiskali kasa je Web aplikacija koja omogućava:
                        <ul>
                            <li>
                                Unos, fiskalizaciju i ispis računa
                            </li>
                            <li>
                                Upravljenje zaposlenicima i kupcima
                            </li>
                            <li>
                                Upravljanje poslovnicama i naplatnim uređajima
                            </li>
                            <li>
                                Upravljanje artiklima
                            </li>
                        </ul>
                       
                    </div>
                    <div class="alert alert-success">
                         <strong>Za uspješno korištenje Web aplikacije potrebno je:</strong>
                        <ul>
                            <li>
                                Registrirati se
                            </li>
                            <li>
                                Popuniti podatke o tvrtki među kojima je i učitavanje digitalnog certifikata dobivenog od FINE
                            </li>
                            <li>
                               Unijeti zaposlenike, kupce, poslovnice i naplatne uređaje
                            </li>
                        </ul>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
{% endblock %}
