{% extends '../base.html' %}

{% block title %}Fiskali kasa - Uspješna aktivacija{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line margin-top">Uspješna aktivacija</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        Vaš račun je sada aktiviran! Sada se možete uspješno prijaviti.<br>
                        <a href="{% url 'home' %}">Prijavite se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
{% endblock %}
