{% extends "../base.html" %}

{% block title %}Fiskali kasa - Pomoć{% endblock %}

{% block klasa_pomoc %} bk-clr-active {% endblock %}

{% block headline %} Pomoć {% endblock %}

{% block content %}
<div class="col-md-12">
	<h2>Kontakt osobe</h2>
	<div class="list-group">
		<li class="list-group-item">
			Robert <i class="fa fa-envelope" aria-hidden="true"></i>
			<a href="mailto:robert.anic@pakel.hr">ranic@student.unipu.hr</a><ul> <i class="fa fa-mobile" aria-hidden="true"></i>
			<a href="tel:(+385) 23 282 942">(+385) 95 918 2050</a></ul></li>
	</div>
</div>
{% endblock %}
