{% extends "../base.html" %}
{% load widget_tweaks %}
{% block title %}Fiskali kasa - Kupac{% endblock %}

{% block klasa_kupci %} class="menu-top-active" {% endblock %}

{% block headline %} Dodavanje novog kupca {% endblock %}

{% block content %}
<div class="col-md-6">
	<div class="panel panel-default">
        <div class="panel-heading">
           Unos novog kupca
        </div>
        <div class="panel-body">
	        <form method="post">
	            {% csrf_token %}
                {{ form.errors }}
	            <div class="form-group col-xs-12 col-sm-8">
                    <label for="id_naziv">{{ form.naziv.label }}</label>
                    {{ form.naziv | add_class:"form-control" }}
                    {{ form.naziv.errors }}
                </div>
                <div class="form-group col-sm-8">
                    <label for="id_adresa">{{ form.adresa.label }}</label>
                    {{ form.adresa | add_class:"form-control" }}
                    {{ form.adresa.errors }}
                </div>
                <div class="form-group col-sm-8">
                    <label for="id_last_name">{{ form.oib.label }}</label>
                  	{{ form.oib | add_class:"form-control" }}
                  	{{ form.oib.errors}}
                </div>
                <div class="form-group col-sm-8">
                    <label for="id_napomena">{{ form.napomena.label }}</label>
                    {{ form.napomena | add_class:"form-control" }}
                    {{ form.napomena.errors }}
                </div>
                {{ form.non_field_errors }}
                <div class="form-group col-sm-8">
                    <input class="btn btn-md btn-success" type="submit" value="Spremi">
                    <a href="{% url 'kupci' %}" class="btn btn-default">Odustani</a>
                </div>
	        </form>
	    </div>
	</div>
</div>
{% endblock %}
